body{
	font-family: verdana;
	background-color : #FBFBEF;
}
table{
	background-color: #abebc6;
	border-style: solid;
	border-color: #990000;
	
}
td{
	font-family: verdana;
	border-spacing: 2px;
	
}
a img {
	width: 40px;
	height: 40px;
}
h2 {
	text-align: center;
	color: #800000;
}
.smallTable{
	width: 30%;	
	border-radius:10px;
	font-size: 11px;
	margin: auto;
}
.midTable{
	width: 50%;
	border-radius:10px;
	font-size: 11px;
	margin: auto;
}
.bigTable{
	width: 65%;
	border-radius:10px;
	font-size: 11px;
	/*margin: auto;*/
	margin-top: 200px;
	margin-left: 300px;
}
.keyClass{
	font-weight: bold;
	font-style: 
}
.valueClass{
	
}
.submitClass{
	height: 150px;
	width: 250px;
	font-weight: bold;
	color: #d35400;
}
.submitClassExt{
	height: 50px;
	width: 300px;
	font-weight: bold;
}
.headerRow{
	font-weight: bold;
	color: #800000;
	
}
.errorMsg {
	margin: auto;
	color: red;
	background : #F3E2A9;
	border:1px solid #FF8000;
	width: 30%;
	font-size: small;
	border-radius:10px;
}
.successMsg {
	margin: auto;
	color: green;
	background : #FBF5EF;
	border:1px solid #DBA901;
	width: 30%;
	font-size: small;
	border-radius:10px;
}
.homeImg {
	text-align: center;
}
.selwidth {
	width: 200px;
}
#landingPageHeadDiv {
	width: 90%;
	background-color: #366386;
	height: 150px;
	position: absolute;
	padding-bottom: 75px;
	text-align: center;
	vertical-align: middle;
}